{% extends "_baseTemplate.html" %}

{% block content %}
{% load static %}

<div class=tempBuffer>
<div class="brandHeader">Virtual cocktail</div>

<form method="post">
  {% csrf_token %}
<div id=homepageSearchBox>
  {{form.find_restaurant}}
  <button id=homepageInputButton type=submit>Search</button></div>
</form>
</div>

<div class=tileBox>
{% for restaurant in restaurant_list %}

  <a href="{% url 'restaurantdetail' restaurant.restaurant_name.restaurant_name %}">
  <div class=restaurantTile>{{restaurant.restaurant_name.restaurant_name}}</div></a>

{% endfor %}

<a href="{% url 'submitrestaurant' %}">
<div id=requestRestaurant>Add a restaurant</div></a>
</div>



{% endblock %}
