{% extends "_baseTemplate.html" %}

{% block content %}
{% load static %}

<div class=tempBuffer>
<div class="brandHeader">{{restaurant_name}}</div>
</div>

<div id=formBox>
Your {{number_output}} virtual cocktails are served!<br><br>

These contributions help us continue to support employees and maintain rent. <br><br>
Thank you for supporting your local businesses in these difficult times.
</div>

<a href="{% url 'cocktailhomepage' %}">
<div id=toHomepageButton>Back to homepage</div></a>

{% endblock %}
