{% extends "_baseTemplate.html" %}

{% block content %}
{% load static %}

<!-- Form entries here -->

<!-- Add Voice name -->
<form method="post">
  {% csrf_token %}

  Select voice <br>
  {{form.pollyVoice}}
  <br>
  Select player
  <br>
  {{form.playerInput}}
  <br><br>
  <button type=submit>Select</button>

</form>

<br>
{{polly_voice_selected}}

{{player_selected}}
<br><br>
{{round_report_text|linebreaks}}

<a href="{% url 'pollyplay' polly_voice_selected %}" target="_blank">
<div style="width: 100px; height: 50px; background-color: black; color: white;">Play</div></a>

{% endblock %}
