{% extends "_baseTemplate.html" %}

{% block content %}
{% load static %}

<!-- FORM SECTION -->

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}

  {{form}}
  <br>
  <br>
  <button type="submit">Upload</button>

</form>

<!-- RESULTS SECTION -->
 <br>
 <!-- Check if any uploaded images  -->
 {% if uploadedImages %}

 <!--  Uploaded image results -->
 {% for image in uploadedImages %}
 {% if image.uploadImage %}
 <br>
 Uploaded Image
 <div class=imgContainer style="background-image:url({{ image.uploadImage.url }}); background-size: cover"></div>
 
 <br>
 {% else %}
 Upload image fail
 {% endif %}
 {% endfor %}

 <!-- Result if no uploaded images  -->
 {% else %}
 No uploaded images
 {% endif %}

<!-- Link to admin  -->
<br><br>
 <a href="{% url 'admin:index' %}" target="_blank">
Go to admin
 </a>


{% endblock %}
