* {
  font-family: verdana;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* ROTATEIMAGE */
.imgContainer {
  height: 80px;
  width: 80px;
  margin: 10px
}

/* VIRTUAL COCKTAIL */

:root {
  --mainColor: #26363b;
  --header1: 30px;
}

.tempBuffer {
  position: absolute;
  height: 120px;
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px;
}


.brandHeader {
  color: var(--mainColor);
  font-size: var(--header1);
  font-weight: bold;
}

#homepageSearchBox {
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: white;
  margin: 15px 5px;
  padding: 2px 4px;
}

#id_find_restaurant {
  display: inline-block;
  height: 90%;
  width: 60%;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: none;
  padding-left: 5px;
}

#homepageInputButton {
  display: inline-block;
  width: 30%;
  height: 90%;
  height: 30px;
}

.tileBox {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top: 130px;
  width: 100%;
  min-height: 400px;
  padding: 5px 25px;
  overflow: scroll;
  border-bottom: 1px solid #f2f2f2;
}

.restaurantTile {
  height: 140px;
  width: 140px;
  border-radius: 10px;
  background-color: #F2F2F2;
  margin: 0 10px;
  text-align: center;
  line-height: 130px;
}

#requestRestaurant {
  position: absolute;
  height: 16px;
  bottom: 10px;
  right: 5px;
}

#newDiv {
  position: absolute;
  bottom: 150px;
  right: 0px;
  height: 100px;
  width: 100px;
  background-color: green;
}

#formBox {
  position: absolute;
  top: 200px;
  left: 60px;
  min-height: 200px;
  width: 250px;
  background-color: #f2f2f2;
  padding: 20px;

}

#id_number_input {

}

#toHomepageButton {
  position: absolute;
  bottom: 50px;
  height: 50px;
  width: 100px;
  background-color: #F2F2F2;
}

#isYourBusinessBox {
  width: 100%;
  height: 0px;
  background-color: #ADD8E6;
  overflow: hidden;
  margin-top: -20px;
  padding: 0px 3px;
}
